:root {
    --header-footer: #3b93a7;
    --main-background: #225c6a;
    --body-background: #FFB745;

    --accent: #FFB745;
    --link-hover: #A7A7A7;
    --link-primary: #ffffff;
    --text-primary: #ffffff;
    --primary-dark: #b8b8b8;
    --primary-super-dark: #225c6a;
}

*, :after, :before {
    box-sizing: border-box;
}

body {
    font-size: 18px;
    line-height: 1.5em;
    font-family: hero-new, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--body-background);
    color: var(--text-primary);
}

h1, h2, h3 {
    line-height: 1.2em;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
}

.s-hr {
    width: 80%;
}

header {
    padding: 2em;
    background-color: var(--header-footer);
}

.nav-link {
    margin: 0 2em;
    color: var(--link-primary);
    transition: color 0.5s;
}

.nav-link:hover, .nav-link:active {
    color: var(--link-hover);
}

main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 3em;
    background-color: var(--main-background);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: var(--header-footer);
}

footer svg {
    fill: var(--link-primary);
    transition: fill 0.5s;
}

footer svg:hover, footer svg:active {
    fill: var(--link-hover);
}

.about-content {
    text-align: justify;
    margin-top: auto;
    margin-bottom: auto;
}

.about-headshot-right {
    width: 100%;
    height: auto;
    padding: 1em;
}

.about-headshot-left {
    width: 100%;
    height: auto;
    padding: 1em;
    order: 0;
}

body#about section, body#portfolio section {
    display: flex;
    flex-direction: column;
}

body#portfolio section {
    flex-wrap: wrap;
}

.margin-right {
    margin-right: 1em;
}

.margin-left {
    margin-left: 1em;
}

.card {
    width: 96%;
    margin: 0.5em auto;
    background-color: #efefef;
    background-clip: padding-box;
    box-shadow: 4px 4px 4px 4px #47474780;
    padding-bottom: 0.5em;
}

.card-title {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.play-button {
    margin-left: auto;
    margin-right: 10px;
    border: none;
    outline: none;
}

.track-title {
    margin: 0.5em 1em;
    color: #343434;
}

.track-artist {
    margin: 0.5em 1em;
    color: #343434;
}

.portfolio-image {
    width: 100%;
    height: auto;
}

.read-more {
    display: block;
    text-decoration: none;
    border: 0;
    outline: 0;
    padding: 0.5em;
    margin: auto;
    transition: background-color 0.5s;
}

.read-more:hover, .read-more:active {
    background-color: var(--link-hover);
}


#modal {
    display: none;
    position: fixed;
    overflow: auto !important;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    color: #343434;
}

.modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover, .modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#modal-track-title {
    margin: 0.5em 0;
    font-size: 2em;
}

.modal-content h6 {
    margin: 0.5em 0;
    font-size: 1.4em;
}

.modal-content ul {
    list-style: none;
}

#modal-track-description {
    text-align: justify;
}

.audio-transport {
    padding: 1em 0;
    display: flex;
    flex-direction: column;
}

.transport-controls {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.transport-button {
    border: 0;
    outline: 0;
    background-color: transparent;
    cursor: pointer;
}

.play-button {
    cursor: pointer;
}

.transport-display {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.transport-display p {
    margin: 0 0.5em;
}

#transport-slider {
    appearance: none;
    height: 0.3125em;
    background: white;
    outline: none;
    width: 60%;
}

#transport-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 1em;
    height: 1em;
    background: var(--accent);
    cursor: pointer;
    border-radius: 50%;
}

.school-name {
    width: 80%;
}

.resume-description {
    width: 60%;
    font-size: 0.8em;
}

.job-title {
    width: 80%;
}

.award-title {
    width: 80%;
}

body#resume ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body#resume dt {
    display: flex;
}

@media (min-width: 576px) {
    main {
        max-width: 540px;
    }
    .portfolio-item {
        width: 100%;
    }
}


@media (min-width: 768px) {
    main {
        max-width: 720px;
    }
    body#portfolio section {
        flex-direction: row;
    }
    .portfolio-item {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    main {
        max-width: 1140px;
    }
    body#about section {
        flex-direction: row;
    }
    .about-headshot-right {
        width: 33%;
    }

    .about-headshot-left {
        width: 33%;
        order: -1;
    }
    .portfolio-item {
        width: 33%;
    }
    .modal-content {
        width: 60%;
    }
}





